@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'M PLUS 2';
    color: #fff;
    background: url("../img/Group\ 19.png") #3F3F3F;
    background-size: cover;
    text-align: center;
}

h1{
    font-size: 48px;
    margin-top: 180px;
}

p{
    font-size: 24px;
    margin: 30px 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 550px;
    height: 48px;
    border: solid 1px #fff;
    background-color: #3F3F3F;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
}

.btn{
    width: 150px;
    height: 60px;
    border: none;
    background-color: #F9A825;
    font-size: 36px;
    color: #fff;
    border-radius: 10px;
    margin-top: 80px;
}

.btn:hover{
    cursor: pointer;
    background-color: #d28e1f;
}